<div class='drink-container'>
  <div class='list'>

    <div>
      <h1>Mr. Cocktail</h1>
    </div>

    <div class="cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card-product">
        <img src='<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>'>
        <div class="card-product-infos">
          <div class="title">
            <h2><%= cocktail.name %></h2>
            <div class="rating">
              <% if cocktail.reviews.last.nil? %>
                <i> Not rated</i>
              <% else %>
                <% cocktail.reviews.last.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <p>
            <% if cocktail.reviews.last.nil? %>
            <% else %>
              <%= cocktail.reviews.last.content %>
            <% end %>
          </p>
        </div>
        <%= link_to "", cocktail_path(cocktail), class:'card-product-link' %>
      </div>
      <% end %>
    </div>


  </div>

  <div class="banner">
    <div>
      <h2>Shake it!</h2>
    </div>
    <%= link_to "New cocktail", new_cocktail_path, class:"btn-transparent" %>
  </div>
</div>

