<div class="background-gradient">
  <h1>Create a new <strong>Cocktail</strong></h1>

  <div class="new-form">
    <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <div>
          <label>Image</label>
          <%= f.input :photo, input_html: { class: 'hidden' }, label_html: { class: 'btn-transparent center' } %>
        </div>
        <%= f.input :photo_cache, as: :hidden%>
        <div class="center">
          <%= f.button :submit, class:"center btn-transparent" %>
        </div>
    <% end %>
  </div>

  <%= link_to 'back', cocktails_path, class:"btn-transparent" %>

</div>
