<div class="background-gradient">
  <h1>Create a new <strong>Cocktail</strong></h1>

  <div class="new-form">
    <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <div class="center">
          <div class="form-group file required cocktail_photo">
            <label class="file" for="cocktail_photo">
              Image
            </label>
            <label class="file btn-transparent" for="cocktail_photo">Choose File</label>
              <input class="form-control-file file required hidden" type="file" name="cocktail[photo]" id="cocktail_photo">
          </div>
        </div>
        <%= f.input :photo_cache, as: :hidden%>
        <div class="center">
          <%= f.button :submit, class:"center btn-transparent" %>
        </div>
    <% end %>
  </div>

  <%= link_to 'back', cocktails_path, class:"btn-transparent" %>

</div>
