<div class='drink-container'>
  <div class='list'>
    <div>
      <h1><%= @cocktail.name %></h1>
    </div>

    <div class="cards">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> of <%= dose.ingredient.name %> | <%= link_to 'delete', dose_path(dose), method: :delete%></li>
        <% end %>
      </ul>
    </div>

    <%= link_to 'add dose', new_cocktail_dose_path(@cocktail), class:'btn-transparent' %>
    <%= link_to 'back', cocktails_path, class:'btn-transparent' %>
  </div>

  <div class=banner style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">>
  </div>
</div>
